

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Reg:</strong>
  <%= @friend.reg %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) ,class:'btn btn-dark'%> 
<%= link_to 'Back', friends_path ,class:'btn btn-dark' %>
